* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100%;
    border: 1px solid black;
    /* [以下を編集] 1. flexboxを使う */

}
.box {
    background-color: #1e50a2;
    border: 4px solid #103269;
    width: 30%;
    height: 30%;
}

/* [以下を編集] 2. メディアクエリを書く (ブレイクポイント：780px) */


